.table{
    .tab-head{
        width: 100%;
    }
    .tab-body{
        .tab-row{
            border-bottom: 1px solid red;
            td{
                max-height: 50px;
                padding: 10px 1rem;
                .coin-link{
                    display: flex;
                    align-items: center;
                    .img-wrapper{
                        width: 30px;
                        height: 30px;
                        margin-right: 1rem;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .coin-name{
                        font-weight: 500;
                    }
                }
    
            }
        }
    }
}