@import '../../App/index.scss';

.table{
    border-collapse: collapse;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0.5rem;
    .tab-head{
        width: 100%;
        .tab-head-row{
            th{
                padding: 1rem 0;
            }
        }
    }
    .tab-body{
        .tab-row{
            td{
                max-height: 50px;
                .coin-link{
                    display: flex;
                    align-items: center;
                    .img-wrapper{
                        width: 30px;
                        height: 30px;
                        margin-right: 1rem;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .coin-name{
                        display: none;
                        font-weight: 500;
                    }
                    @media (min-width: 768px) {
                        .coin-name{
                            display: block;
                        }
                    }
                }
            }
            .percent-change{
                padding: 1rem 0;
                .wrapper{
                display: flex;
                align-items: center;
                .arrow{
                    margin-right: 0.3rem;
                }
                .percent{
                    margin-left: 5px;
                }
                }
            }
            .spark-line{
                padding: 10px 0;
            }
        }
        .tab-row:nth-child(odd){
            background-color: #eee;
        }
    }
    .hidden{
        display: none;
    }
    @media (min-width: 640px) {
        .hidden{
            display: block;
        }
    }
}