@import '../../App/index.scss';

.cell{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    .l-cell{
        display: flex;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }
}

.g-page-container{
    .unit-coin{
        display: grid;
        .info{
            display: grid;
            grid-template-columns: 1fr;
            .coin-info{
                padding: 1rem;
                display: flex;
                flex-direction: column;

                // ----- PRICE AND LOGO --------------
                .main{
                    display: flex;
                    flex: 1 1 auto;
                    .logo{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 20px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .name{
                        display: flex;
                        flex-direction: column;
                        // justify-content: space-evenly;
                        flex: 1 1 auto;
                        .header{
                            display: flex;
                            align-items: center;
                            h1{
                                margin-right: 10px;
                            }
                        }
                        .rank{
                            background-color: #5388cd;
                            max-width: 80px;
                            height: 24px;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 700;
                        }
                    }
                    .price{
                        display: flex;
                        flex-direction: column;
                        // justify-content: space-evenly;
                        .top{
                            // text-align: right;
                            padding-bottom: 10px;
                        }
                        .bold{
                            font-weight: 600;
                        }
                    }
                }
                // ---- SPRK_LINE -------------
                .spark-line{
                    position: relative;
                    .absolut{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 1.1rem;
                        font-weight: 500;
                        display: flex;
                        flex-direction: column;
                        .persent{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            span{
                                margin-right: 5px;
                            }
                        }
                    }
                }
                .cap-volume{
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1rem;
                }
                @media (min-width: 576px) {
                    .cap-volume{
                        grid-template-columns: 1fr 1fr;
                    }
                }

            }
            // ----- MARKET STATS ---------------
            .market-info{
                display: flex;
                flex-direction: column;
                padding: 1rem;
                font-weight: 500;
                .stats-title{
                    margin-bottom: 1rem;
                    display: flex;
                    flex: 1 1 auto;
                }
                .stats-table{
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 0.5rem 1rem;
                }
                @media (min-width: 575px) and (max-width:767.9999px ) {
                    .stats-table{
                        grid-template-columns: 1fr 1fr;
                    }
                }
                @media (min-width: 768px) and (max-width:1023.9999px) {
                    .stats-table{
                        grid-template-columns: 1fr;
                    }
                }
                @media (min-width: 1024px) {
                    .stats-table{
                        grid-template-columns: 1fr 1fr;
                    }
                }
        
            }
            
        }
        // -----DISCRIPTION ------------
        .discription{
            padding: 1rem;
            h2{
                margin-bottom: 1rem;
            }
            p{
                line-height: 1.5;
            }
        }
        @media (min-width: 768px) {
            .info{
                grid-template-columns: 1.2fr 1fr;
            }
        }
        @media (min-width: 1024px) {
            .info{
                grid-template-columns: 1fr 1fr;
            }
        }

    }
}