@import '../../App/index.scss';

.container-fluid{
    min-width: 100%;
    // delete thise line
    min-height: 100vh;
    background-color: #ccc;
    // ===================
    .container{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        padding: 0 1rem;
        border: 1px solid green;
    }
}
.light{
    background-color: $bg-light;
    color: $text-dark;
}
.dark{
    background-color: #3c3f47;
    color: $text-light;
}
