@import '../../App/index.scss';

.container-fluid{
    min-width: 100%;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        padding: 0 1rem;
        border: 1px solid red;
    }
}
.light{
    background-color: $bg-light;
    color: $text-dark;
}
.dark{
    background-color: $bg-dark;
    color: $text-light;
}
