@import './index.scss';

.container-fluid{
    min-width: 100%;
    min-height: 100vh;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        padding: 1rem;
    }
}
.light-mode{
    background-color: $bg-light;
    color: $text-dark;
}
.dark-mode{
    background-color: $bg-dark;
    color: $text-light;
}
