@import './index.scss';

.cell{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    .l-cell{
        display: flex;
        flex: 1 1 auto;
    }
    .light-l-cell{
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    .dark-l-cell{
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
}
