//====== VARIABLES ======
$text-light: #ffffff;
$text-dark: #212529;
$text-carrot: #f85904;
$text-blue: #5388cd;

$bg-light: #ffffff;
// $bg-dark: #252526;
$bg-dark: #3c3f47;
$bg-block-dark: #2e3137;
$bg-hover: rgba(0,0,0,0.1);
$bg-active: rgba(0,0,0,0.2);
$box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
$spark-line: #5388cd;
// ===== sizes =====
$button-max-size: 120px;
$button-min-size: 90px;

// ==== global classes =====
.g-page-container{
    min-width: 100%;
    min-height: calc(100vh - 60px - 14px - 14px);
    padding-bottom: 1rem;
}





