//====== VARIABLES ======
$text-light: #ffffff;
$text-dark: #212529;
$text-carrot: #f85904;

$bg-light: #ffffff;
$bg-dark: #252526;
$bg-hover: rgba(0,0,0,0.1);
$bg-active: rgba(0,0,0,0.2);
$button-maxsize: 120px;