@import'../../App/index.scss';
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid blue;
    position: fixed;
    z-index: 10;
    .logo{
        color: $text-dark;
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        background-color: #ddd;
        top: 0;
        left: 0;
        z-index: 5;
        .link{
            width: $button-maxsize;

            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: 1px solid $text-dark;
            color: $text-dark;
        }
        .dark{
            color: $text-light;
            border: 1px solid $text-light;
        }
    }
}
@media (min-width: 640px) {
    .navbar{
        flex-direction: row;
        align-items: center;
        position: relative;
        .menu{
            flex-direction: row;
            .link{
                margin-top: 0;
                margin-left: 1rem; 
            }
        }
    }
}
