@import './index.scss';

.g-page-container{
    .account-page{
        max-width: 640px;
        margin: 0 auto;
        border: 1px solid red;
        padding: 100px 1rem 2rem 1rem;
        .account-header{
            font-weight: 600;
            border: 1px solid blue;
        }
        .wellcome-sing-out{
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
            border: 1px solid green;
        }
        .watch-list{
            border: 1px solid red;
            padding: 1rem 0;

            .saved-coins-list{
                .empty-list{
                    .link-text{
                        color: $text-blue;
                    }

                }
                // list-item ===>
                .saved-coins-list{
                    display: flex;
                    flex-direction: column;

                    .list-item{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid blue;
                        .coin{
                            display: flex;
                            align-items: center;
                            .logo{
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                overflow: hidden;
                                margin-right: 20px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .name{
                                font-weight: 600;
                                margin-right: 0.5rem;
                            }
                        }
                    }
    
                }
            }
        }
    }
}