@import './index.scss';

.chart-field{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    .chart-tools{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 1rem;
    }
    @media (min-width: 640px) {
        .chart-tools{
            flex-direction: row;
        }
    }
}
