@import './index.scss';

.market-stats{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    max-width: 100%;
    .stats-title{
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    .stats-table{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    @media (min-width: 576px) and (max-width: 768px) {
        .stats-table{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (min-width: 768px) and (max-width: 1025px) {
        .stats-table{
            grid-template-columns: 1fr;
        }
    }
}
