@import './index.scss';

.provider-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    padding-left: 0;
    .provider{
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .provider-light{
        box-shadow: $box-shadow-lt;
    }
    .provider-dark{
        background-color: $bg-block-dark;
    }
    .active-provider-light{
        color: $text-blue;
        font-weight: 600;
    }
    .active-provider-dark{
        background-color: #000;
        color: $text-blue;
        font-weight: 600;
    }

}