@import './index.scss';

.news-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    .one-news{
        padding: 10px;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        .news-header{
            display: flex;
            justify-content: space-between;
            padding-bottom: 1rem;
            .news-title{
                font-weight: 600;
                line-height: 1.5;
                flex: 0 1 auto;
            }
            .news-avatar{
                width:8;
                min-width: 80px;
                height: 80px;
                min-height: 80px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .demo-news-icon{
                    font-size: 30px;
                }
            }
        }
        .provider-container{
            display: flex;
            justify-content: space-between;
            padding-top: 0.5rem;
            gap: 1rem;
            .provider-avatar{
                width: 200px;
                max-height: 40px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .date-published{
                padding-right: 1rem;
            }
        }
    }
    .one-news-light{
        box-shadow: $box-shadow-lt;
    }
    .one-news-dark{
        color: $text-light;
        background-color: $bg-block-dark;
    }
}
@media (min-width: 640px) {
    .news-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 769px) {
    .news-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}