@import'./index.scss';

.per-page{
    width: 150px;
    height: 30px;
    
    // margin-top: 1rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 0.5rem;
    // color: $text-blue;
    font-weight: 700;
    .title{
        margin-right: 0.5rem;
    }
    .num-box{
        position: relative;
        width: 60px;
        height: 30px;
        display: flex;
        justify-content: center;
        .cell{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }
        .arrow{
            position: absolute;
            top: -1px;
            color: $text-blue;
            font-size: 2.2rem;
            transition: left 500ms linear 200ms;
        }
    }
}
.light-per-page{
    box-shadow: $box-shadow-lt;
    color: $text-dark;

}
.dark-per-page{
    background-color: $bg-block-dark;
    color: $text-light;
}

@media (min-width: 768px) {
    .per-page{
        margin-left: 1rem;
    }
}
