@import './index.scss';

.coin-search{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin-bottom: 1rem;
    h2{
        display: flex;
        flex: 1 1 auto;
        margin-bottom: 1rem;
    }
    .form{
        color: inherit;
        .input-light{
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            box-shadow: $box-shadow-lt;
        }
        .input-dark{
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            color: $text-light;
            background-color: $bg-block-dark;
        }
    }
}
.light-search{
    color: $text-dark;

}
.dark-search{
    color: $text-light;
    background-color: $bg-dark;
}
@media (min-width: 450px) {
    .coin-search{
        flex-direction: row;
        align-items: center;
        h2{
            margin-bottom: 0;
        }
    }
}