@import './index.scss';

.top-panel{
    display: flex;
    flex-direction: column;
    .coin-search{
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
        .search-title{
            display: flex;
            margin-right: 1rem;
        }
        .form{
            color: inherit;
            .input-light{
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                box-shadow: $box-shadow-lt;
            }
            .input-dark{
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                color: $text-light;
                background-color: $bg-block-dark;
            }
        }
    }
    .light-search{
        color: $text-dark;
    }
    .dark-search{
        color: $text-light;
        background-color: $bg-dark;
    }
    .per-page-box{
        display: flex;
        justify-content: flex-end;
        padding-left: 1rem;
    }
}
@media (min-width: 640px) {
    .top-panel{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}