@import './index.scss';

.link{
    min-width: 100px;
    min-height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    .link-icon{
        margin-right: 5px;
        color: $text-blue;
        font-size: 20px;
    }
    a{
        font-weight: 700;
    }
    .coin-icon{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 5px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.light-lk{
    box-shadow: $box-shadow-lt;
}
.dark-lk{
    background-color: $bg-block-dark;
    .link-icon{
        color: $text-light;
    }
}
