@import './index.scss';

.tooltip{
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    opacity: 0; 
    z-index: 10000;
    cursor: pointer;
    animation: hidde 3000ms linear 400ms forwards;
    transform: scale(0.95);
    h3{
        font-weight: 800;
        color: $text-carrot;
    }
}
.light-tt{
    background-color: $bg-dark;
}
.dark-tt{
    background-color: $bg-light;
}
@keyframes hidde {
    0%{ 
        opacity: 0;
        transform: scale(0.95);
    }
    20%{ 
        opacity: 1;
        transform: scale(1);
    }
    80%{ 
        opacity: 1;
        transform: scale(1);
    }
    100%{ 
        opacity: 0;
        transform: scale(0.95);
    }
}





